// 下拉菜单

$--dropdown-group-divider-color: $--divider-border-color !default; // 分组边框
$--dropdown-font-color-disabled: $--const-color-disabled !default; // 字体 禁用
$--dropdown-shadow-color: $--select-shadow-color !default; // 背景

.el-dropdown__popper.el-popper[role='tooltip'] {
  background-color: $--select-bg-color;
  border-color: $--select-border-color;
  box-shadow: 0 2px 12px 0 $--dropdown-shadow-color;
}

.el-dropdown {
  &-menu {
    background-color: $--select-bg-color;
    border-color: $--select-border-color;
    box-shadow: 0 2px 12px 0 $--dropdown-shadow-color;
    & .el-dropdown-menu__item {
      &:hover {
        background-color: $--action-color-2;
      }
      &:focus {
        background-color: $--action-color-2;
      }
    }
    &__item {
      line-height: 1.68rem;
      i {
        margin-right: 0.3rem;
      }
      &--divided {
        border-top: 1px solid $--dropdown-group-divider-color;
        &:before {
          background-color: transparent;
        }
      }
      &.is-disabled {
        color: $--dropdown-font-color-disabled;
      }
    }
  }
}
