// 表单
.el-form-item--small .el-form-item__content,
.el-form-item--small .el-form-item__label {
  line-height: 2rem;
  // height: 32px;
  height: 100%;
  padding: 0.75rem 0;
  // padding: 0.5rem 0.6rem;
}
.el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
  margin-bottom: 0px;
}

.el-form {
  &-item {
    &__label {
      font-size: 0.875rem;
      color: $--primary-color-label;
    }
    &__content {
      font-size: 0.875rem;
      .el-date-editor {
        width: 100%;
      }
    }
    &__error {
      text-align: left;
      // bottom: 0;
      top: auto;
      font-size: 0.75rem;
    }
  }
}
