// 文字提示

$--popover-font-color: $--primary-color-text !default; // 字体
$--popover-bg-color: $--expanded-bg-color !default; // 背景
$--popover-border-color: $--expanded-border-color !default; // 边框
$--popover-shadow-color: $--expanded-shadow-color !default; // 阴影

.el-popover {
  background-color: $--popover-bg-color;
  color: $--popover-font-color;
  border-color: $--popover-border-color;
  box-shadow: 0 0.125rem 0.75rem 0 $--popover-shadow-color;
  font-size: 0.875rem;
  &__title {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    color: $--popover-font-color;
  }
}
// 弹框箭头 - 其他组件
.el-popper[x-placement^='bottom'] .popper__arrow {
  border-bottom-color: $--popover-border-color !important;
  &:after {
    border-bottom-color: $--popover-bg-color !important;
  }
}
.el-popper[x-placement^='top'] .popper__arrow {
  border-top-color: $--popover-border-color !important;
  &:after {
    border-top-color: $--popover-bg-color !important;
  }
}
.el-popper[x-placement^='left'] .popper__arrow {
  border-left-color: $--popover-border-color !important;
  &:after {
    border-left-color: $--popover-bg-color !important;
  }
}
.el-popper[x-placement^='right'] .popper__arrow {
  border-right-color: $--popover-border-color !important;
  &:after {
    border-right-color: $--popover-bg-color !important;
  }
}
