// 文字提示

$--popover-font-color: $--primary-color-text !default; // 字体
$--popover-bg-color: $--expanded-bg-color !default; // 背景
$--popover-border-before-color: $--select-border-color !default; // 背景
$--popover-border-color: $--expanded-border-color !default; // 边框
$--popover-shadow-color: $--expanded-shadow-color !default; // 阴影

@mixin popover-color {
  background-color: $--popover-bg-color !important;
}

.el-popover,
.el-popper.is-dark {
  box-shadow: 0 0.125rem 0.75rem 0 $--popover-shadow-color !important;
  font-size: 0.875rem;
  color: $--popover-font-color !important;
  border-color: $--popover-border-color !important;
  @include popover-color();
  &__title {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    color: $--popover-font-color;
  }
}

// 弹框箭头 - 其他组件
.el-popper[data-popper-placement^='bottom'] .el-popper__arrow {
  border-bottom-color: $--popover-border-color !important;
  &:before {
    border-top-color: $--popover-border-before-color !important;
    border-left-color: $--popover-border-before-color !important;
    @include popover-color();
  }
}
.el-popper[data-popper-placement^='top'] .el-popper__arrow {
  border-top-color: $--popover-border-color !important;
  &:before {
    border-bottom-color: $--popover-border-before-color !important;
    border-right-color: $--popover-border-before-color !important;
    @include popover-color();
  }
}
.el-popper[data-popper-placement^='left'] .el-popper__arrow {
  border-left-color: $--popover-border-color !important;
  &:before {
    border-right-color: $--popover-border-before-color !important;
    border-top-color: $--popover-border-before-color !important;
    @include popover-color();
  }
}
.el-popper[data-popper-placement^='right'] .el-popper__arrow {
  border-right-color: $--popover-border-color !important;
  &:before {
    border-left-color: $--popover-border-before-color !important;
    border-bottom-color: $--popover-border-before-color !important;
    @include popover-color();
  }
}
