.el-scrollbar {
  .el-scrollbar__view {
    text-align: left;
  }
}
.block-container .el-scrollbar__view {
  text-align: center;
}

.left-menu__container {
  &.el-scrollbar__wrap {
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.el-scrollbar__bar {
  opacity: 0.01;
}
